// --------------
// Default
// --------------
::selection {
  background: $purple;
}
::-moz-selection {
  background: $purple;
}
// --------------
// End of Default
// --------------

// --------------
// Header
// --------------
#site-header {
  color: $gray;
  box-shadow: 0px -1px 5px 0px $orange;
}
// --------------
// End of Header
// --------------

// --------------
// Body
// --------------
.container-body {
  min-height: calc(100vh - 260px - 6rem);
  .card {
    transition: filter 0.2s cubic-bezier(0.4, 0, 1, 1);

    &:hover {
      filter: drop-shadow(2px 4px 6px $orange);
    }
    .card-body {
      text-align: center;

      .drink-image {
        max-width: 200px;
        width: 200px;

        &:focus {
          outline: none;
        }
      }
      .clocks {
        .clock {
          p {
            text-decoration: line-through;
            filter: drop-shadow(0 0 3px black);
            font-size: 1.5em;
            margin-bottom: 0;
          }
        }

        .clock:last-child {
          p {
            text-decoration: none;
            filter: none;
          }
        }

        .delete-button {
          background-image: url(../images/delete-sign.png);
          background-repeat: no-repeat;
          background-size: cover;
          margin-left: 1em;
          height: 1.5em;
          width: 1.5em;
          padding: 1em;

          &:hover {
            background-image: url(../images/delete-sign-hovered.png);
            cursor: pointer;
          }
        }
      }
      p {
        font-size: 2em;
        text-transform: capitalize;
      }
    }
  }
}
// --------------
// End of Body
// --------------

// --------------
// --- Footer ---
// --------------

#site-footer {
  box-shadow: 0px 0px 5px 0px $orange;
  ul.social-icons {
    li {
      display: inline-block;
    }

    a {
      height: $footer-font-size;
      line-height: $footer-font-size;
      width: $footer-font-size;
      font-size: $footer-font-size;
      border-radius: 50%;
      margin: 0 0.5rem;
      text-align: center;
      display: block;
      color: white;
      background: $orange;
    }
  }

  .copyrights {
    color: $gray;
  }
}

// --------------
// End of Footer
// --------------
